<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/demay/IdeaProjects/testNGBasicsBatch15/src/test/java/class4/annotations2.java">
       <classes>
           <class name="class4.annotations2"></class>
           <class name="class4.annotationsBeforeClass"></class>
       </classes>
    </test>
    <test name="abc">
        <packages>
            <package name="class4"></package>
        </packages>
    </test>
</suite>